body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #34495e;
}

.form{
    width:300px;
    padding:40px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align:center;
}
.form h1{
    color:white;
    text-transform:uppercase;
    font-weight:500;
}

.form input[type="text"],.form input[type="password"]{
    border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    border:2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline:none;
    color: white;
    border-radius:24px;
    transition : 0.25s;

}

.form input[type="text"]:focus,.form input[type="password"]:focus{
    width:280px;
    border-color:#2ecc71
}

.form .signupbutton,input[type="submit"],input[type="button"]{
    border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    border:2px solid #2ecc71;
    padding: 14px 40px;
    outline:none;
    color: white;
    border-radius:24px;
    transition : 0.25s;
    cursor:pointer;
}


.form .submit,input[type="submit"]:hover,input[type="button"]:hover{
    background: #2ecc71
}

.form .message{
    margin: 15px 0 0;
    color:#fff;
    font-size:12px;
}

.form .message a{
    color: lightgreen;
    text-decoration:none;
}
.fm{
   
    text-decoration:none;
}

.fm p{
    text-align:center;
    color:grey;
}